.actions {
	width: 100%;
	height: 50px;
	background: #333;
}

.actions > * {
	height: 68%;
	float: left;
}

.actions #share {
	width: 45px;
	margin-left: 5px;
	margin-right: 5px;
	background-image: url("../images/share.png");
	background-size: auto 25px;
	background-repeat: no-repeat;
	background-position:center;
}

.actions #message {
	width: 270px;
}

.actions #ok {
	float: right;
	width: 45px;
	margin-left: 5px;
	margin-right: 5px;
	background-image: url("../images/ok.gif");
	background-size: auto 25px;
	background-repeat: no-repeat;
	background-position:center;
}